<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="main-menu">
                <div class="menu-left">
                    
                    <div class="brand-logo">
                        <a href="/"> <img src="/assets/images/icon/logo.png"
                                class="img-fluid blur-up lazyload" alt=""></a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>