<div class="mobile-fix-option"></div>
<div class="top-header top-header-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="header-contact">
                    <ul>
                        <li>Welcome to Cryptibuy</li>
                        <!-- <li><i class="fa fa-phone" aria-hidden="true"></i>Call Us: 123 - 456 - 7890</li> -->
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 text-end">
                <ul class="header-dropdown">
                    <!-- <li class="mobile-wishlist"><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a> -->
                    </li>
                    <% if (user && user.username && user.username != 'guest') { %>
                        <li class="onhover-dropdown mobile-account"> <i class="fa fa-user" aria-hidden="true"></i>
                            <%= user.name %>
                            <ul class="onhover-show-div">
                                <li><a href="/myaccount">My Account</a></li>
                                <li><a href="/myaccount/logout">Logout</a></li>
                                
                            </ul>
                            
                        </li>
                    <% } else { %>

                        <li class="onhover-dropdown mobile-account"> <i class="fa fa-user" aria-hidden="true"></i>
                            <%= user.name %>
                            <ul class="onhover-show-div">
                                <li><a href="/account/login">Login</a></li>
                                <li><a href="/account/register">register</a></li>
                            </ul>
                            
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</div>